@mixin button($color: #fff, $bg: $blue) {
  background: lighten($bg, 10);
  border: 3px solid $bg;
  border-radius: 3px;
  color: $color;
  font-family: 'Source Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  padding: 10px;
  transition: background .3s;

  &:hover {
    border: 3px solid lighten($bg, 10);
    background: $bg;
    cursor: pointer;
  }
}

.toggle-view {
  @include button;
  right: 15px;
  position: fixed;
  top: 75px;
  z-index: 5000;

  @media (min-width: 700px) {
    left: 15px;
    right: auto;
    top: 15px;
  }
}
