// Colors

$blue: #003976;

@import 'fonts';
@import 'button';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  font-family: 'Source Sans', 'Hevetica Neue', 'Helvetica', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blue;
  font-family: 'Merriweather', Georgia, Arial, serif;
}

.toggle-view {
  @include button;
  left: 15px;
  position: fixed;
  top: 15px;
  z-index: 5000;
}

#map {
  display: none;

  &.active {
    display: block;
    height: 100vh;
    width: 100%;
  }
}

@import 'vendor/leaflet';
@import 'vendor/markercluster';
@import 'autocomplete';
@import 'popup';
@import 'list';
@import 'search-input';
@import 'card';
